@tailwind base;
@tailwind components;
@tailwind utilities;

/* imported font from google font */
/* for heading -> Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
/* for para -> Fredoka */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,430&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }
  p {
    @apply font-para;
  }
}
